@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --border: 96 5% 22%;
  --border-divider-blank: 227 18% 9%;

  --header-height: 4.5rem;

  --primary: 77 100% 60%;
  --primary-1000: 81 70% 12%;
  --primary-foreground: 0 0% 9%;

  --neutral-200: 77 6% 78%;
  --neutral-950: 90 6% 8%;
  --neutral-1000: 90 6% 4%;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-border: hsl(var(--border));
  --color-border-divider-blank: hsl(var(--border-divider-blank));

  --color-primary: hsl(var(--primary));
  --color-primary-1000: hsl(var(--primary-1000));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-neutral-200: hsl(var(--neutral-200));
  --color-neutral-950: hsl(var(--neutral-950));
  --color-neutral-1000: hsl(var(--neutral-1000));
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* override */
.p-toast-message-content {
  padding: 10px !important;
}

.p-toast-message-content > svg {
  width: 16px !important;
}

.p-toast-message-content > .p-toast-message-text {
  margin-left: 12px !important;
}

.p-toast-message-content > .p-toast-message-text > .p-toast-detail {
  margin-top: 0 !important;
}

.p-toast-message-content > div:last-child > button {
  width: 20px !important;
  height: 20px !important;
}

.p-toast-message-content > div:last-child > button > svg {
  width: 14px !important;
}
